<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style/font.css?v=1">
    <link rel="stylesheet" href="style/style.css?v=1">
    <meta charset="UTF-8">
    <title>mercule</title>
    <script>
      function hidepopup_username()
      {
        var a = document.getElementById("popup-contain-user");
        var b =document.getElementById("popup-bg");
        a.style.display = 'none';      
        b.style.display = 'none';
      }
      function hidepopup_add()
      {
        var a = document.getElementById("popup_contain_add_address");
        var b =document.getElementById("popup-bg");
        a.style.display = 'none';      
        b.style.display = 'none';
      }
      function submit_change_edit()
      {
        new_name=document.getElementById("new_name").value;
        new_phone=document.getElementById("new_phone").value;
        new_address=document.getElementById("new_address").value;
        new_sub_district=document.getElementById("new_sub_district").value;
        new_district=document.getElementById("new_district").value;
        new_province=document.getElementById("new_province").value;
        new_postal_code=document.getElementById("new_postal_code").value;
        console.log(address_id);
        fetch("http://127.0.0.1:8000/"+email+'/account/'+address_id+"/edit_shipping_address",
        {method: 'PUT',
           body:JSON.stringify({
          "new_name_surname":new_name,
          "new_phone_number":new_phone,
          "new_address":new_address,
          "new_sub_district":new_sub_district,
          "new_district":new_district,
          "new_province":new_province,
          "new_postal_code":new_postal_code
        }),
        headers :{'Content-Type': 'application/json'}
      }).then(response=>response.json()).then(data=>
        { 
          console.log(address_id);
          console.log(data);
        if (data.result == "success")
        {
          fetch("http://127.0.0.1:8000/"+email+"/account/view_shipping_address").then(response=>response.json()).then(data=>{ 
            global = data;})
            location.reload()
          hidepopup_username()
        }
        })
      }
      function submit_change_add()
      {
        new_name=document.getElementById("add_new_name").value;
        new_phone=document.getElementById("add_new_phone").value;
        new_address=document.getElementById("add_new_address").value;
        new_sub_district=document.getElementById("add_new_sub_district").value;
        new_district=document.getElementById("add_new_district").value;
        new_province=document.getElementById("add_new_province").value;
        new_postal_code=document.getElementById("add_new_postal_code").value;
        fetch("http://127.0.0.1:8000/"+email+"/account/add_shipping_address",
           {method: 'POST',
           body:JSON.stringify({
          "new_name_surname":new_name,
          "new_phone_number":new_phone,
          "new_address":new_address,
          "new_sub_district":new_sub_district,
          "new_district":new_district,
          "new_province":new_province,
          "new_postal_code":new_postal_code
        }),
        headers :{'Content-Type': 'application/json'}
      }).then(response=>response.json()).then(data=>
        { 
          if (data.result == "success")
        {
            fetch("http://127.0.0.1:8000/"+email+"/account/view_shipping_address").then(response=>response.json()).then(data=>{ 
            global = data;
            i = Object.keys(global).length
            location.reload()
            hidepopup_add()
          })
        }
        })
      }
      function openpopup_edit(i)
      {
        var a = document.getElementById("popup-contain-user");
        var b =document.getElementById("popup-bg");
        document.getElementById("new_name").value = global[i].name_surname
        document.getElementById("new_phone").value = global[i].phone_number
        document.getElementById("new_address").value = global[i].address
        document.getElementById("new_sub_district").value = global[i].sub_district
        document.getElementById("new_district").value = global[i].district
        document.getElementById("new_province").value = global[i].province
        document.getElementById("new_postal_code").value = global[i].postal_code
        address_id = i;
        console.log(address_id);
        a.style.display = 'block';
        b.style.display = 'block';
      }
      function openpopup_add()
      {
        var a = document.getElementById("popup_contain_add_address");
        var b =document.getElementById("popup-bg");
        document.getElementById("new_name").value = ""
        document.getElementById("new_phone").value = ""
        document.getElementById("new_address").value = ""
        document.getElementById("new_sub_district").value =  ""
        document.getElementById("new_district").value =  ""
        document.getElementById("new_province").value =  ""
        document.getElementById("new_postal_code").value =  ""
        a.style.display = 'block';      
        b.style.display = 'block';
      }
      function delete_address(i)
      {
        fetch("http://127.0.0.1:8000/"+email+"/account/"+i+"/delete_shipping_address",
        {method: 'PUT',headers :{'Content-Type': 'application/json'}}).then(response=>response.json()).then(data=>{ 
          location.reload()
        })
      }
    </script>
  </head>
  <div class="popup-container" style="display: none;" id="popup-contain-user">
    <span class="close" style="color: red;padding-right: 5%;margin-top: -8px;"  onclick="hidepopup_username()">&times;</span>
    <div style="padding-left: 5%;font-size: 30px;">ที่อยู่จัดส่งสินค้า</div>
    <p  style="margin-left: 5%;padding-top: 2%;">ชื่อ</p><input type="whiteblock" value="Hi" id="new_name" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">หมายเลขโทรศัพท์</p><input type="whiteblock" value="Hi" id="new_phone" style="margin-left: 5%;" required>
    <p  style="margin-left: 5%;padding-top: 2%;">ที่อยู่</p><input type="whiteblock" value="Hi" id="new_address" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">ตำบล</p><input type="whiteblock" value="Hi" id="new_sub_district" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">เขต</p><input type="whiteblock" value="Hi" id="new_district" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">อำเภอ</p><input type="whiteblock" value="Hi" id="new_province" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">รหัสไปรษณีย์</p><input type="whiteblock" value="Hi" id="new_postal_code" style="margin-left: 5%;" required>
    <button type="bluebutton" style="left: 250px ;top: 20px;background-color: rgb(255, 255, 255);color: rgb(15, 99, 233);border: 0.5px solid rgb(15, 99, 233);" onclick="hidepopup_username()">ยกเลิก</button>
    <button type="bluebutton" style="left: 320px ;top:-20px;" onclick="submit_change_edit()">บันทึก</button>
  </div>
  <div class="popup-container" style="display: none;" id="popup_contain_add_address">
    <span class="close" style="color: red;padding-right: 5%;margin-top: -8px;"  onclick="hidepopup_add()">&times;</span>
    <div style="padding-left: 5%;font-size: 30px;">ที่อยู่จัดส่งสินค้า</div>
    <p  style="margin-left: 5%;padding-top: 2%;">ชื่อ</p><input type="whiteblock" value="" id="add_new_name" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">หมายเลขโทรศัพท์</p><input type="whiteblock" value="" id="add_new_phone" style="margin-left: 5%;" required>
    <p  style="margin-left: 5%;padding-top: 2%;">ที่อยู่</p><input type="whiteblock" value="" id="add_new_address" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">ตำบล</p><input type="whiteblock" value="" id="add_new_sub_district" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">เขต</p><input type="whiteblock" value="" id="add_new_district" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">อำเภอ</p><input type="whiteblock" value="" id="add_new_province" style="margin-left: 5%;" required>
    <p style="margin-left: 5%;padding-top: 2%;">รหัสไปรษณีย์</p><input type="whiteblock" value="" id="add_new_postal_code" style="margin-left: 5%;" required>
    <button type="bluebutton" style="left: 250px ;top: 20px;background-color: rgb(255, 255, 255);color: rgb(15, 99, 233);border: 0.5px solid rgb(15, 99, 233);" onclick="hidepopup_add()">ยกเลิก</button>
    <button type="bluebutton" style="left: 320px ;top:-20px;" onclick="submit_change_add()">บันทึก</button>
  </div>
  <div class="popup-background" style="display: none;" id="popup-bg"></div>
  <body>
    <div style="display: none;"  id="error_img"> <center><img src="https://i0.wp.com/learn.onemonth.com/wp-content/uploads/2017/08/1-10.png?fit=845%2C503&ssl=1"></center>
      <center><a href="login.html" style="font-size: 30px;">กดที่นี่เพื่อ Login</a></center>
    </div>
    <div style="display: none; position: relative;" id ='all_display'>
      <div class="menu_container" id ='coupon_display' style="display: block;">
        <button type="menu" onclick="go_to('profile.html')">ข้อมูลส่วนตัว</button>
        <br>
        <button type="menu" onclick="go_to('address.html')">ที่อยู่</button>
        <br>
        <button type="menu" onclick="go_to('http:\/\/127.0.0.1:8000/'+email+'/account/view_user_coupon')">คูปอง</button>
        <br>
        <button type="menu" onclick="go_to('http:\/\/127.0.0.1:8000/'+email+'/account/view_order')">รายการสั่งซื้อ</button>
      </div>
       <div class="container" id ='address_display' style="display: block;">
        <h1>ที่อยู่จัดส่งสินค้า</h1>
        <button style="display: flex;position: absolute;top: 110px;margin-right:40px" onclick="openpopup_add()"> เพิ่มที่อยู่</button>
        <p>จัดการที่อยู่จัดส่ง สำหรับการสั่งซื้อสินค้า  </p>
        <ul id = "my_address"></ul>
      </div>
    </div>
  </body>
  <script>
      function go_to(location)
      {
          window.location.href = location;
      }
      const email = sessionStorage.getItem("username");
      fetch("http://127.0.0.1:8000/"+email+"/account/view_shipping_address").then(response=>response.json()).then(data=>{ 
      global = data;
      for (let i in global)
      {
        a = document.getElementById('my_address');
        a.innerHTML += '<li><strong  id=\"surname'+i+'\">'+global[i].name_surname+'</strong> <div style=\"display:inline;position:absolute;left: 350px;\" id =\"address' + i+'\">'+global[i].address+'</div> <button onclick=\"openpopup_edit('+i+')\" style=\"padding-right: 5%;\">แก้ไข</button><button onclick=\"delete_address('+i+')\">ลบ</button></li>'
        a.innerHTML += '<strong style=\"padding-right: 30%;font-size: 20px;\" id=\"phone_number'+i+'\">'+global[i].phone_number+'</strong>'
        a.innerHTML +='<hr width=\"100%\">'
      }
      })
      if(email!=null)
      {
      var global = 1;
      var address_id;
      var ui_display = document.getElementById("my_address");
      document.getElementById('all_display').style.display = 'flex';
     }
      else
       {
         document.getElementById('error_img').style.display = 'block';
       }
    </script>
</html>