* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .cart-contrainer {
    margin: 0 auto;
    width: 70%;
}
.cart-contrainer {
    top: 0;
    margin: 30px;
    display: flex;
}

.cart-contrainer .item-list {
    padding-top: 20px;
    width: 70%;
}

.cart-contrainer .checkout {
    width: 30%;
    padding: 5% 5%;
}

.price-contrainer {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(222, 221, 221);;
    margin: 10px 0px;
}

.price-contrainer .price-text {
    margin: 0;
}

#Total {
    margin: 10px 5px 0px 5px;
}
#Discounted {
    margin: 5px;
}

#order-conclusion {
    height: 10%;
    background-color:rgb(222, 221, 221);
    text-align: center;
}

.price-text hr{
    color: rgb(222, 221, 221);
}
.submit {
    background-color: rgb(15, 99, 233);
    border-radius: 10px;
    border-style: none;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    margin: 6px 5px;
    font-size: 16px;
    cursor: pointer;
}

.price-contrainer .submit {
    width: 95%;
}

.item-NotFound {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 50%;
}

.item-list .item-NotFound{
    transform: translate(50%, 0);
    top: -50%;
    right: -50%;
    width: 50%;
} 

#upper-item-NotFound {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.item-NotFound #upper-item-NotFound {
    transform: translate(50%, 0);
    right: -50%;
    width: 105%;
}

.item-NotFound #cart-item-NotFound {
    transform: translate(40%, 0);
    right: -50%;
}

#lower-item-NotFound {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.item-NotFound #lower-item-NotFound {
    transform: translate(50%, 0);
    right: -50%;
    width: 75%;
}
