<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="admin.css"> -->
  <link rel="stylesheet" href="{{ url_for('styles', path='admin.css?v=1') }}" >
</head>

<body>
  <button  style="color:red" onclick="logout()">logout</button>
  <form>
    <label for="input1">Select method</label>
    <select id="input1" name="input1" onchange="select(this.value)">
      <option value="add coupon">add coupon</option>
      <option value="edit coupon">edit coupon</option>
      <option value="delete coupon">delete coupon</option>
    </select>
  </form><br>
  <div class="container" id="container">
    <div class="form-container">
      <div id="id"></div>

      <label for="input2">Select discount type</label>
      <select id="input2" name="input2" onchange="change_form(this.value)">
        <option value="flat">flat</option>
        <option value="percentage">percentage</option>
      </select><br><br>

      <div class="form" id="form">
        <label for="discount">discount: </label>
        <input type="text" name="discount" id="discount"><br><br>
        <label for="minimum-price">minimum price: </label>
        <input type="text" name="minimum-price" id="minimum-price"><br><br>
        <label for="due-date">due date: </label>
        <input type="text" name="due-date" id="due-date"><br><br>
        <label for="quantity">quantity: </label>
        <input type="text" name="quantity" id="quantity"><br><br>
        <label for="coupon-type">coupon type: </label>
        <input type="text" name="coupon-type" id="coupon-type"><br><br>
        <label for="title">title: </label>
        <input type="text" name="title" id="title"><br><br>
        <label for="description">description: </label>
        <input type="text" name="description" id="description"><br><br>

        <label for="ban-product">ban product: </label>
        <input type="text" name="ban-product" id="ban-product">
        <button onclick="add_ban_product()">add</button><br><br>

        <label for="ban-type">ban type: </label>
        <input type="text" name="ban-type" id="ban-type">
        <button onclick="add_ban_type()">add</button><br><br>

        <label for="type">ban product: </label>
        <input type="text" name="type" id="type">
        <button onclick="add_type()">add</button><br><br>

        <label for="brand">brand: </label>
        <input type="text" name="brand" id="brand">
        <button onclick="add_brand()">add</button><br><br>
        <button onclick="generate_coupon()">view coupon</button>
      </div>
    </div>
    <div class="data-container" id="data-container">
      <div class="ban-products-container" id="ban-products-container">ban products</div>
      <div class="ban-types-container" id="ban-types-container">ban types</div>
      <div class="types-container" id="types-container">types</div>
      <div class="brands-container" id="brands-container">brands</div>
      <div class="coupon-container" id="coupon-container"></div>
      <button onclick="system_add_coupon()">submit</button>
    </div>
  </div>
  <script>
    let email = "{{email}}"

    let ban_products_arr = []
    let ban_types_arr = []
    let types_arr = []
    let brands_arr = []

    function add_ban_product(){
      value = document.getElementById('ban-product').value
      ban_products_arr.push(value)
      document.getElementById('ban-product').value = ''
    }
    function add_ban_type(){
      value = document.getElementById('ban-type').value
      ban_types_arr.push(value)
      document.getElementById('ban-type').value = ''
    }
    function add_type(){
      value = document.getElementById('type').value
      types_arr.push(value)
      document.getElementById('type').value = ''
    }
    function add_brand(){
      value = document.getElementById('brand').value
      brands_arr.push(value)
      document.getElementById('brand').value = ''
    }

    let add_coupon = `
    <div class="form-container">
      <div id="id"></div>

      <label for="input2">Select discount type</label>
      <select id="input2" name="input2" onchange="change_form(this.value)">
        <option value="flat">flat</option>
        <option value="percentage">percentage</option>
      </select><br><br>

      <div class="form" id="form">
        <label for="discount">discount: </label>
        <input type="text" name="discount" id="discount"><br><br>
        <label for="minimum-price">minimum price: </label>
        <input type="text" name="minimum-price" id="minimum-price"><br><br>
        <label for="due-date">due date: </label>
        <input type="text" name="due-date" id="due-date"><br><br>
        <label for="quantity">quantity: </label>
        <input type="text" name="quantity" id="quantity"><br><br>
        <label for="coupon-type">coupon type: </label>
        <input type="text" name="coupon-type" id="coupon-type"><br><br>
        <label for="title">title: </label>
        <input type="text" name="title" id="title"><br><br>
        <label for="description">description: </label>
        <input type="text" name="description" id="description"><br><br>

        <label for="ban-product">ban product: </label>
        <input type="text" name="ban-product" id="ban-product">
        <button onclick="add_ban_product()">add</button><br><br>

        <label for="ban-type">ban type: </label>
        <input type="text" name="ban-type" id="ban-type">
        <button onclick="add_ban_type()">add</button><br><br>

        <label for="type">ban product: </label>
        <input type="text" name="type" id="type">
        <button onclick="add_type()">add</button><br><br>

        <label for="brand">brand: </label>
        <input type="text" name="brand" id="brand">
        <button onclick="add_brand()">add</button><br><br>
        <button onclick="generate_coupon()">view coupon</button>
      </div>
    </div>
    <div class="data-container" id="data-container">
      <div class="ban-products-container" id="ban-products-container">ban products</div>
      <div class="ban-types-container" id="ban-types-container">ban types</div>
      <div class="types-container" id="types-container">types</div>
      <div class="brands-container" id="brands-container">brands</div>
      <div class="coupon-container" id="coupon-container"></div>
      <button onclick="system_add_coupon()">submit</button>
    </div>`
    let edit_coupon = `
      <div class="form-container">
      <label for="id">id: </label>
      <input type="text" id="id">
      <button onclick="get_data()">get data</button>

      <label for="input2">Select discount type</label>
      <select id="input2" name="input2" onchange="change_form(this.value)">
        <option value="flat">flat</option>
        <option value="percentage">percentage</option>
      </select><br><br>

      <div class="form" id="form">
        <label for="discount">discount: </label>
        <input type="text" name="discount" id="discount"><br><br>
        <label for="minimum-price">minimum price: </label>
        <input type="text" name="minimum-price" id="minimum-price"><br><br>
        <label for="due-date">due date: </label>
        <input type="text" name="due-date" id="due-date"><br><br>
        <label for="quantity">quantity: </label>
        <input type="text" name="quantity" id="quantity"><br><br>
        <label for="coupon-type">coupon type: </label>
        <input type="text" name="coupon-type" id="coupon-type"><br><br>
        <label for="title">title: </label>
        <input type="text" name="title" id="title"><br><br>
        <label for="description">description: </label>
        <input type="text" name="description" id="description"><br><br>

        <label for="ban-product">ban product: </label>
        <input type="text" name="ban-product" id="ban-product">
        <button onclick="add_ban_product()">add</button><br><br>

        <label for="ban-type">ban type: </label>
        <input type="text" name="ban-type" id="ban-type">
        <button onclick="add_ban_type()">add</button><br><br>

        <label for="type">ban product: </label>
        <input type="text" name="type" id="type">
        <button onclick="add_type()">add</button><br><br>

        <label for="brand">brand: </label>
        <input type="text" name="brand" id="brand">
        <button onclick="add_brand()">add</button><br><br>
        <button onclick="generate_coupon()">view coupon</button>
      </div>
    </div>
    <div class="data-container" id="data-container">
      <div class="ban-products-container" id="ban-products-container">ban products</div>
      <div class="ban-types-container" id="ban-types-container">ban types</div>
      <div class="types-container" id="types-container">types</div>
      <div class="brands-container" id="brands-container">brands</div>
      <div class="coupon-container" id="coupon-container"></div>
    </div>`

    let delete_coupon = `
    <label for="input2" style="display:none">Select discount type</label>
      <select id="input2" name="input2" onchange="change_form(this.value)" style="display:none">
        <option value="flat">flat</option>
        <option value="percentage">percentage</option>
      </select><br><br>
    <div class="form" id="form">
        <label for="discount">discount: </label>
        <input type="text" name="discount" id="discount"><br><br>
        <label for="minimum-price">minimum price: </label>
        <input type="text" name="minimum-price" id="minimum-price"><br><br>
        <label for="due-date">due date: </label>
        <input type="text" name="due-date" id="due-date"><br><br>
        <label for="quantity">quantity: </label>
        <input type="text" name="quantity" id="quantity"><br><br>
        <label for="coupon-type">coupon type: </label>
        <input type="text" name="coupon-type" id="coupon-type"><br><br>
        <label for="title">title: </label>
        <input type="text" name="title" id="title"><br><br>
        <label for="description">description: </label>
        <input type="text" name="description" id="description"><br><br>

        <label for="ban-product">ban product: </label>
        <input type="text" name="ban-product" id="ban-product">
        <button onclick="add_ban_product()">add</button><br><br>

        <label for="ban-type">ban type: </label>
        <input type="text" name="ban-type" id="ban-type">
        <button onclick="add_ban_type()">add</button><br><br>

        <label for="type">ban product: </label>
        <input type="text" name="type" id="type">
        <button onclick="add_type()">add</button><br><br>

        <label for="brand">brand: </label>
        <input type="text" name="brand" id="brand">
        <button onclick="add_brand()">add</button><br><br>
        <button onclick="generate_coupon()">view coupon</button>
      </div>
    </div>
      <div class="form-container" id="form-container">
        <label for="id">id: </label>
        <input type="text" id="id">
        <button onclick="get_data()">get data</button>
      </div>
      <div class="data-container">
        <div class="coupon-container" id="coupon-container"></div>
        <button onclick="delete_system_coupon()">submit</button>
      </div>
      `

    function delete_system_coupon(){
      let id = document.getElementById('id').value
      fetch('http://127.0.0.1:8000/' + email + '/admin/del_coupon_in_coupon_catalog', {method: 'POST',
      body: JSON.stringify({'coupon_id': id}),
      headers: {'Content-Type': 'application/json'}
      }).then(response => response.json()).then(data => {
        alert(data)
        select('delete coupon')
      })
    }

    function select(value) {
      let container = document.getElementById('container')
      container.innerHTML = ''
      if(value == 'add coupon'){
        container.innerHTML = add_coupon
        document.getElementById('form').style.display = 'block'
      }
      else if(value == 'edit coupon'){
        container.innerHTML = edit_coupon
        document.getElementById('form').style.display = 'block'
      }
      else if(value == 'delete coupon'){
        container.innerHTML = delete_coupon
        document.getElementById('form').style.display = 'none'
      }
    }

    let input2_value = ''

    function data_handler(data, id){
      document.getElementById('input2').selectedIndex = id
      return data
    }

    function get_data(){
      fetch('http://127.0.0.1:8000/'+ email + '/admin/search_coupon_infor_by_id', {method: 'POST',
      body: JSON.stringify({'id': document.getElementById('id').value}),
      headers: {'Content-Type': 'application/json'}
      }).then(response => response.json()).then(data => {
        console.log(data)
        document.getElementById('due-date').value = data['_Promotion__due_date']
        document.getElementById('minimum-price').value = data['_Promotion__minimum_price']
        document.getElementById('discount').value = data['_PercentageDiscount__discount'] ? data_handler(data['_PercentageDiscount__discount'], 1) : data_handler(data['_FlatDiscount__discount'], 0)
        if (document.getElementById('max-discount')){
          document.getElementById('max-discount').value = data['_PercentageDiscount__max_discount'] ? data['_PercentageDiscount__max_discount'] : '0'
        }
        document.getElementById('description').value = data['_Promotion__description']
        document.getElementById('title').value = data['_Promotion__title']
        document.getElementById('quantity').value = data['_Coupon__quantity']
        ban_types_arr = data['_Coupon__ban_types']
        ban_products_arr = data['_Coupon__ban_products']
        types_arr = data['_Coupon__types']
        brands_arr = data['_Coupon__brands']
        document.getElementById('coupon-type').value = data['_Coupon__coupon_type']
        generate_coupon()
      })
    }

    function change_form(type){
      let container = document.getElementById('form')
      let p = `
        <label for="discount">discount: </label>
        <input type="text" name="discount" id="discount"><br><br>
        <label for="minimum-price">minimum price: </label>
        <input type="text" name="minimum-price" id="minimum-price"><br><br>
        <label for="max-discount">max discount: </label>
        <input type="text" name="max-discount" id="max-discount"><br><br>
        <label for="due-date">due date: </label>
        <input type="text" name="due-date" id="due-date"><br><br>
        <label for="quantity">quantity: </label>
        <input type="text" name="quantity" id="quantity"><br><br>
        <label for="coupon-type">coupon type: </label>
        <input type="text" name="coupon-type" id="coupon-type"><br><br>
        <label for="title">title: </label>
        <input type="text" name="title" id="title"><br><br>
        <label for="description">description: </label>
        <input type="text" name="description" id="description"><br><br>

        <label for="ban-product">ban product: </label>
        <input type="text" name="ban-product" id="ban-product">
        <button onclick="add_ban_product()">add</button><br><br>

        <label for="ban-type">ban type: </label>
        <input type="text" name="ban-type" id="ban-type">
        <button onclick="add_ban_type()">add</button><br><br>

        <label for="type">ban product: </label>
        <input type="text" name="type" id="type">
        <button onclick="add_type()">add</button><br><br>

        <label for="brand">brand: </label>
        <input type="text" name="brand" id="brand">
        <button onclick="add_brand()">add</button><br><br>
        <button onclick="generate_coupon()">view coupon</button>
      `
      let f = `
        <label for="discount">discount: </label>
        <input type="text" name="discount" id="discount"><br><br>
        <label for="minimum-price">minimum price: </label>
        <input type="text" name="minimum-price" id="minimum-price"><br><br>
        <label for="due-date">due date: </label>
        <input type="text" name="due-date" id="due-date"><br><br>
        <label for="quantity">quantity: </label>
        <input type="text" name="quantity" id="quantity"><br><br>
        <label for="coupon-type">coupon type: </label>
        <input type="text" name="coupon-type" id="coupon-type"><br><br>
        <label for="title">title: </label>
        <input type="text" name="title" id="title"><br><br>
        <label for="description">description: </label>
        <input type="text" name="description" id="description"><br><br>

        <label for="ban-product">ban product: </label>
        <input type="text" name="ban-product" id="ban-product">
        <button onclick="add_ban_product()">add</button><br><br>

        <label for="ban-type">ban type: </label>
        <input type="text" name="ban-type" id="ban-type">
        <button onclick="add_ban_type()">add</button><br><br>

        <label for="type">ban product: </label>
        <input type="text" name="type" id="type">
        <button onclick="add_type()">add</button><br><br>

        <label for="brand">brand: </label>
        <input type="text" name="brand" id="brand">
        <button onclick="add_brand()">add</button><br><br>
        <button onclick="generate_coupon()">view coupon</button>
      `
      if(type=='percentage'){
        container.innerHTML = p
      }
      else{
        container.innerHTML = f
      }
    }

    function generate_coupon(){
      let container = document.getElementById('coupon-container')
      let coupon = `
        <div class="circle-top"></div>
        <div class="coupon-discount">
          <div class="text">
            ลดเพิ่ม
          </div>
          <div class="discount">
            ${document.getElementById('discount').value.toString()} ${document.getElementById('input2').value == 'percentage' ? '%':'.-'}
          </div>
        </div>
        <div class="coupon-description">
          <div class="title">${document.getElementById('title').value}</div>
          <div class="description">เมื่อซื้อครบ ${document.getElementById('description').value}</div>
          <div class="due-date">หมดอายุ : ${document.getElementById('due-date').value}</div>
        </div>
        <div class="coupon-button"></div>
        <div class="circle-bottom"></div>`
      container.innerHTML = coupon
    }

    function system_add_coupon(){
      let data = {'due_date' : document.getElementById('due-date').value,
      'minimum_price' : document.getElementById('minimum-price').value,
      'discount' : document.getElementById('discount').value,
      'max_discount' : document.getElementById('max-discount') ? document.getElementById('max-discount').value : 0,
      'description' : document.getElementById('description').value,
      'title' : document.getElementById('title').value,
      'quantity' : document.getElementById('quantity').value,
      'ban_types' : ban_types_arr,
      'ban_products' : ban_products_arr,
      'type' : types_arr,
      'brand' : brands_arr,
      'coupon_type' : document.getElementById('coupon-type').value,
      'discount_type' : document.getElementById('input2').value,
      'email': email}
      console.log(data)
      fetch('http://127.0.0.1:8000/' + email + '/admin/add_system_coupon', {method: 'POST',
      body: JSON.stringify({'data': data}),
      headers: {'Content-Type': 'application/json'}
      }).then(response => response.json()).then(data => {alert(data)})
    }
    function logout()
    {
      email = sessionStorage.getItem("username")
      fetch("http://127.0.0.1:8000/logout",
      {method: 'POST',
      body:JSON.stringify({'email': email}),
      headers :{'Content-Type': 'application/json'}
    }).then(response=>response.json()).then(data=>
      { 
      if (data.result == "success")
      {
        sessionStorage.removeItem("username")
        window.location.href='http://127.0.0.1:8000/login-page'
      }
      })
    }
  </script>
</body>

</html>