<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="admin.css"> -->
  <link rel="stylesheet" href="{{ url_for('styles', path='admin.css?v=1') }}" >
</head>

<body>
  <button  style="color:red" onclick="logout()">logout</button>
  <form>
    <label for="input1">Select method</label>
    <select id="input1" name="input1" onchange="select(this.value)">
      <option value="add coupon">add coupon</option>
      <option value="edit coupon">edit coupon</option>
      <option value="delete coupon">delete coupon</option>
      <option value="add promotion">add promotion</option>
    </select>
  </form><br>
  <div class="container" id="container">
    <div class="form-container">
      <div id="id"></div>

      <label for="input2">Select discount type</label>
      <select id="input2" name="input2" onchange="change_form(this.value)">
        <option value="flat">flat</option>
        <option value="percentage">percentage</option>
      </select><br><br>
      <div class="form" class="form">
        <form id="form-submit" onsubmit="system_add_coupon()">
          <label for="discount">discount: </label>
          <input type="number" name="discount" id="discount" required><br><br>
          <label for="minimum-price">minimum price: </label>
          <input type="number" name="minimum-price" id="minimum-price" required><br><br>
          <label for="due-date">due date: </label>
          <input type="date" name="due-date" id="due-date" required><br><br>
          <label for="quantity">quantity: </label>
          <input type="number" name="quantity" id="quantity" required><br><br>
          <label for="coupon-type">coupon type: </label>
          <input type="text" name="coupon-type" id="coupon-type" required><br><br>
          <label for="title">title: </label>
          <input type="text" name="title" id="title" required><br><br>
          <label for="description">description: </label>
          <input type="text" name="description" id="description" required><br><br>

          <label for="ban-product">ban product: </label>
          <input type="text" name="ban-product" id="ban-product">
          <button type="button" onclick="add_ban_product()">add</button><br><br>

          <label for="ban-type">ban type: </label>
          <input type="text" name="ban-type" id="ban-type">
          <button type="button" onclick="add_ban_type()">add</button><br><br>

          <label for="type">type: </label>
          <input type="text" name="type" id="type">
          <button onclick="add_type()">add</button><br><br>

          <label for="brand">brand: </label>
          <input type="text" name="brand" id="brand">
          <button type="button" onclick="add_brand()">add</button><br><br>
          <button type="button" onclick="generate_coupon()">view coupon</button>
          <button type="submit">submit</button>
        </form>
      </div>
    </div>
    <div class="data-container" id="data-container">
      <div class="ban-products-container" id="ban-products-container">ban products</div>
      <div class="ban-types-container" id="ban-types-container">ban types</div>
      <div class="types-container" id="types-container">types</div>
      <div class="brands-container" id="brands-container">brands</div>
      <div class="coupon-container" id="coupon-container"></div>
    </div>
  </div>
  <script>
    let email = "{{email}}"

    let ban_products_arr = []
    let ban_types_arr = []
    let types_arr = []
    let brands_arr = []

    let inputBox = Array(4)
    inputBox[0] = document.getElementById("discount")
    inputBox[1] = document.getElementById("minimum-price")
    inputBox[2] = document.getElementById("quantity")
    inputBox[3] = document.getElementById("max-discount")

    var invalidChars = [
      "-",
      "+",
      "e",
    ]

    function block_number(){
      for(let i=0;i<4;++i){
        try{
          inputBox[i].addEventListener("keydown", function(e) {
            if (invalidChars.includes(e.key)) {
              e.preventDefault();
            }
          })
        }
        catch(e){
        }
      }
    }

    block_number()
    
    function add_ban_product(){
      value = document.getElementById('ban-product').value
      ban_products_arr.push(value)
      document.getElementById('ban-product').value = ''
    }

    function add_ban_type(){
      value = document.getElementById('ban-type').value
      ban_types_arr.push(value)
      document.getElementById('ban-type').value = ''
    }
    function add_type(){
      value = document.getElementById('type').value
      types_arr.push(value)
      document.getElementById('type').value = ''
    }
    function add_brand(){
      value = document.getElementById('brand').value
      brands_arr.push(value)
      document.getElementById('brand').value = ''
    }

    let add_promotion = `
    <div class="form-container">
      <label for="id">id: </label>
      <input type="text" id="id">
      <button onclick="get_product()">get data</button> 

      <label for="input2">Select discount type</label>
      <select id="input2" name="input2">
        <option value="flat">flat</option>
        <option value="percentage">percentage</option>
      </select><br><br>
      <div class="form" id="form">
        <form id="form-submit" onsubmit="system_add_promotion()">
          <label for="discount">discount: </label>
          <input type="number" name="discount" id="discount" required><br><br>
          <label for="due-date">due date: </label>
          <input type="date" name="due-date" id="due-date" required><br><br>
          <label for="title">title: </label>
          <input type="text" name="title" id="title" required><br><br>
          <label for="description">description: </label>
          <input type="text" name="description" id="description" required><br><br>
          <button type="submit">submit</button>
        </form>
      </div>
    </div>
      <div class="data-container" id="data-container">
        <div class="item-container">
        <div class="product-img-container">
          <img id="product-img" src="">
        </div>
        <div class="product-name" id="product-name"></div>
        <div class="price-container">
          <div id="product-discount" class="product-discount"></div>
          <div id="product-price" class="product-price"></div>
        </div>
      </div>
        </div>
      </div>
    </div>`

    function system_add_promotion(){
      let data = {'due_date' : document.getElementById('due-date').value,
      'minimum_price' : document.getElementById('minimum-price') ? document.getElementById('minimum-price').value : 0,
      'discount' : document.getElementById('discount').value,
      'max_discount' : document.getElementById('max-discount') ? document.getElementById('max-discount').value : 99999,
      'description' : document.getElementById('description').value,
      'title' : document.getElementById('title').value,
      'discount_type' : document.getElementById('input2').value,
      'id': document.getElementById('id').value,
      'email': email}
      console.log(data)
      fetch('/add-promotion', {method: 'POST',
      body: JSON.stringify({'data': data}),
      headers: {'Content-Type': 'application/json'}
      }).then(response => response.json()).then(data => {alert(data)})
    }

    function get_product(){
      let id = document.getElementById('id').value
      console.log(id)
      fetch('/get-product-information', {method: 'POST',
      body: JSON.stringify({'id': id}),
      headers: {'Content-Type': 'application/json'}
      }).then(response => response.json()).then(data => {
        console.log(data)
        document.getElementById("product-img").src = data['_Product__image'][0]
        document.getElementById('product-name').innerHTML = data['_Product__name']
        document.getElementById('product-price').innerHTML = data['_Product__price'] + '.-'
        if(data['_Product__promotion'] != null){
          temp = data['_Product__promotion']
          let discount = temp['_PercentageDiscount__discount'] ? temp['_PercentageDiscount__discount'] + '%' : temp['_FlatDiscount__discount'] + '.-'
          console.log(discount)
          document.getElementById('product-discount').innerHTML = '-' + discount
        }
      })
    }

    let add_coupon = `
    <div class="form-container">
      <div id="id"></div>

      <label for="input2">Select discount type</label>
      <select id="input2" name="input2" onchange="change_form(this.value)">
        <option value="flat">flat</option>
        <option value="percentage">percentage</option>
      </select><br><br>
      <div class="form" id="form">
        <form id="form-submit" onsubmit="system_add_coupon()">
          <label for="discount">discount: </label>
          <input type="number" name="discount" id="discount" required><br><br>
          <label for="minimum-price">minimum price: </label>
          <input type="number" name="minimum-price" id="minimum-price"required><br><br>
          <label for="due-date">due date: </label>
          <input type="date" name="due-date" id="due-date" required><br><br>
          <label for="quantity">quantity: </label>
          <input type="number" name="quantity" id="quantity" required><br><br>
          <label for="coupon-type">coupon type: </label>
          <input type="text" name="coupon-type" id="coupon-type" required><br><br>
          <label for="title">title: </label>
          <input type="text" name="title" id="title" required><br><br>
          <label for="description">description: </label>
          <input type="text" name="description" id="description" required><br><br>

          <label for="ban-product">ban product: </label>
          <input type="text" name="ban-product" id="ban-product">
          <button type="button" onclick="add_ban_product()">add</button><br><br>

          <label for="ban-type">ban type: </label>
          <input type="text" name="ban-type" id="ban-type">
          <button type="button" onclick="add_ban_type()">add</button><br><br>

          <label for="type">type: </label>
          <input type="text" name="type" id="type">
          <button onclick="add_type()">add</button><br><br>

          <label for="brand">brand: </label>
          <input type="text" name="brand" id="brand">
          <button type="button" onclick="add_brand()">add</button><br><br>
          <button type="button" onclick="generate_coupon()">view coupon</button>
          <button type="submit">submit</button>
        </form>
      </div>
      </div>
    <div class="data-container" id="data-container">
      <div class="ban-products-container" id="ban-products-container">ban products</div>
      <div class="ban-types-container" id="ban-types-container">ban types</div>
      <div class="types-container" id="types-container">types</div>
      <div class="brands-container" id="brands-container">brands</div>
      <div class="coupon-container" id="coupon-container"></div>
    </div>`
    let edit_coupon = `
      <div class="form-container">
      <label for="id">id: </label>
      <input type="text" id="id">
      <button onclick="get_data()">get data</button>

      <label for="input2">Select discount type</label>
      <select id="input2" name="input2" onchange="change_form(this.value)">
        <option value="flat">flat</option>
        <option value="percentage">percentage</option>
      </select><br><br>
      <div class="form" id="form">
        <form id="form-submit" onsubmit="edit_system_coupon()">
          <label for="discount">discount: </label>
          <input type="number" name="discount" id="discount" required><br><br>
          <label for="minimum-price">minimum price: </label>
          <input type="number" name="minimum-price" id="minimum-price" required><br><br>
          <label for="due-date">due date: </label>
          <input type="date" name="due-date" id="due-date" required><br><br>
          <label for="quantity">quantity: </label>
          <input type="number" name="quantity" id="quantity" required><br><br>
          <label for="coupon-type">coupon type: </label>
          <input type="text" name="coupon-type" id="coupon-type" required><br><br>
          <label for="title">title: </label>
          <input type="text" name="title" id="title" required><br><br>
          <label for="description">description: </label>
          <input type="text" name="description" id="description" required><br><br>

          <label for="ban-product">ban product: </label>
          <input type="text" name="ban-product" id="ban-product">
          <button type="button" onclick="add_ban_product()">add</button><br><br>

          <label for="ban-type">ban type: </label>
          <input type="text" name="ban-type" id="ban-type">
          <button type="button" onclick="add_ban_type()">add</button><br><br>

          <label for="type">type: </label>
          <input type="text" name="type" id="type">
          <button onclick="add_type()">add</button><br><br>

          <label for="brand">brand: </label>
          <input type="text" name="brand" id="brand">
          <button type="button" onclick="add_brand()">add</button><br><br>
          <button type="button" onclick="generate_coupon()">view coupon</button>
          <button>submit</button>
        </form>
      </div>
      </div>
    <div class="data-container" id="data-container">
      <div class="ban-products-container" id="ban-products-container">ban products</div>
      <div class="ban-types-container" id="ban-types-container">ban types</div>
      <div class="types-container" id="types-container">types</div>
      <div class="brands-container" id="brands-container">brands</div>
      <div class="coupon-container" id="coupon-container"></div>
    </div>`

    let delete_coupon = `
    <label for="input2" style="display:none">Select discount type</label>
      <select id="input2" name="input2" onchange="change_form(this.value)" style="display:none">
        <option value="flat">flat</option>
        <option value="percentage">percentage</option>
      </select><br><br>
      <div class="form" id="form">
        <form>
          <label for="discount">discount: </label>
          <input type="number" name="discount" id="discount" required><br><br>
          <label for="minimum-price">minimum price: </label>
          <input type="number" name="minimum-price" id="minimum-price"required><br><br>
          <label for="due-date">due date: </label>
          <input type="date" name="due-date" id="due-date" required><br><br>
          <label for="quantity">quantity: </label>
          <input type="number" name="quantity" id="quantity" required><br><br>
          <label for="coupon-type">coupon type: </label>
          <input type="text" name="coupon-type" id="coupon-type" required><br><br>
          <label for="title">title: </label>
          <input type="text" name="title" id="title" required><br><br>
          <label for="description">description: </label>
          <input type="text" name="description" id="description" required><br><br>

          <label for="ban-product">ban product: </label>
          <input type="text" name="ban-product" id="ban-product">
          <button type="button" onclick="add_ban_product()">add</button><br><br>

          <label for="ban-type">ban type: </label>
          <input type="text" name="ban-type" id="ban-type">
          <button type="button" onclick="add_ban_type()">add</button><br><br>

          <label for="type">type: </label>
          <input type="text" name="type" id="type">
          <button onclick="add_type()">add</button><br><br>

          <label for="brand">brand: </label>
          <input type="text" name="brand" id="brand">
          <button type="button" onclick="add_brand()">add</button><br><br>
          <button type="button" onclick="generate_coupon()">view coupon</button>
        </form>
      </div>
      <div class="form-container" id="form-container">
        <label for="id">id: </label>
        <input type="text" id="id">
        <button type="button" onclick="get_data()">get data</button>
      </div>
      <div class="data-container">
        <div class="coupon-container" id="coupon-container"></div>
        <button type="button" onclick="delete_system_coupon()">submit</button>
      </div>
      `

    function delete_system_coupon(){
      let id = document.getElementById('id').value
      fetch('http://127.0.0.1:8000/' + email + '/admin/del_coupon_in_coupon_catalog', {method: 'POST',
      body: JSON.stringify({'coupon_id': id}),
      headers: {'Content-Type': 'application/json'}
      }).then(response => response.json()).then(data => {
        alert(data)
        select('delete coupon')
      })
    }

    function select(value) {
      let container = document.getElementById('container')
      container.innerHTML = ''
      if(value == 'add coupon'){
        container.innerHTML = add_coupon
        document.getElementById('form').style.display = 'block'
      }
      else if(value == 'edit coupon'){
        container.innerHTML = edit_coupon
        document.getElementById('form').style.display = 'block'
      }
      else if(value == 'delete coupon'){
        container.innerHTML = delete_coupon
        document.getElementById('form').style.display = 'none'
      }
      else if(value == 'add promotion'){
        container.innerHTML = add_promotion
        document.getElementById('form').style.display = 'block'
      }
      block_number()
    }

    let input2_value = ''

    function data_handler(data, id){
      document.getElementById('input2').selectedIndex = id
      return data
    }

    function date_format_handler(date){
      let dmy = date.split('-')
      for(let i=1;i<3;++i){
        dmy[i] = ('0' + dmy[i]).slice(-2)
      }
      console.log(dmy)
      return dmy[0] + '-' + dmy[1] + '-' + dmy[2]
    }

    function get_data(){
      fetch('http://127.0.0.1:8000/'+ email + '/admin/search_coupon_infor_by_id', {method: 'POST',
      body: JSON.stringify({'id': document.getElementById('id').value}),
      headers: {'Content-Type': 'application/json'}
      }).then(response => response.json()).then(data => {
        console.log(data)
        if(data != 'ID Invaild'){
          document.getElementById('due-date').value = date_format_handler(data['_Promotion__due_date'])
          document.getElementById('minimum-price').value = data['_Promotion__minimum_price']
          document.getElementById('discount').value = data['_PercentageDiscount__discount'] ? data_handler(data['_PercentageDiscount__discount'], 1) : data_handler(data['_FlatDiscount__discount'], 0)
          if (document.getElementById('max-discount')){
            document.getElementById('max-discount').value = data['_PercentageDiscount__max_discount'] ? data['_PercentageDiscount__max_discount'] : '0'
          }
          document.getElementById('description').value = data['_Promotion__description']
          document.getElementById('title').value = data['_Promotion__title']
          document.getElementById('quantity').value = data['_Coupon__quantity']
          ban_types_arr = data['_Coupon__ban_types']
          ban_products_arr = data['_Coupon__ban_products']
          types_arr = data['_Coupon__types']
          brands_arr = data['_Coupon__brands']
          document.getElementById('coupon-type').value = data['_Coupon__coupon_type']
          generate_coupon()
        }
        else{
          alert(data)
        }
      })
    }

    function change_form(type){
      let container = document.getElementById('form-submit')
      let p = `
        <label for="discount">discount: </label>
        <input type="number" name="discount" id="discount" required><br><br>
        <label for="minimum-price">minimum price: </label>
        <input type="number" name="minimum-price" id="minimum-price"required><br><br>
        <label for="max-discount">max discount: </label>
        <input type="text" name="max-discount" id="max-discount"><br><br>
        <label for="due-date">due date: </label>
        <input type="date" name="due-date" id="due-date" required><br><br>
        <label for="quantity">quantity: </label>
        <input type="number" name="quantity" id="quantity" required><br><br>
        <label for="coupon-type">coupon type: </label>
        <input type="text" name="coupon-type" id="coupon-type" required><br><br>
        <label for="title">title: </label>
        <input type="text" name="title" id="title" required><br><br>
        <label for="description">description: </label>
        <input type="text" name="description" id="description" required><br><br>

        <label for="ban-product">ban product: </label>
        <input type="text" name="ban-product" id="ban-product">
        <button type="button" onclick="add_ban_product()">add</button><br><br>

        <label for="ban-type">ban type: </label>
        <input type="text" name="ban-type" id="ban-type">
        <button type="button" onclick="add_ban_type()">add</button><br><br>

        <label for="type">type: </label>
        <input type="text" name="type" id="type">
        <button onclick="add_type()">add</button><br><br>

        <label for="brand">brand: </label>br
        <input type="text" name="brand" id="brand">
        <button type="button" onclick="add_brand()">add</button><br><br>
        <button type="button" onclick="generate_coupon()">view coupon</button>
        <button>submit</button>
      `
      let f = `
        <label for="discount">discount: </label>
        <input type="number" name="discount" id="discount" required><br><br>
        <label for="minimum-price">minimum price: </label>
        <input type="number" name="minimum-price" id="minimum-price"required><br><br>
        <label for="due-date">due date: </label>
        <input type="date" name="due-date" id="due-date" required><br><br>
        <label for="quantity">quantity: </label>
        <input type="number" name="quantity" id="quantity" required><br><br>
        <label for="coupon-type">coupon type: </label>
        <input type="text" name="coupon-type" id="coupon-type" required><br><br>
        <label for="title">title: </label>
        <input type="text" name="title" id="title" required><br><br>
        <label for="description">description: </label>
        <input type="text" name="description" id="description" required><br><br>

        <label for="ban-product">ban product: </label>
        <input type="text" name="ban-product" id="ban-product">
        <button type="button" onclick="add_ban_product()">add</button><br><br>

        <label for="ban-type">ban type: </label>
        <input type="text" name="ban-type" id="ban-type">
        <button type="button" onclick="add_ban_type()">add</button><br><br>

        <label for="type">type: </label>
        <input type="text" name="type" id="type">
        <button onclick="add_type()">add</button><br><br>

        <label for="brand">brand: </label>
        <input type="text" name="brand" id="brand">
        <button type="button" onclick="add_brand()">add</button><br><br>
        <button type="button" onclick="generate_coupon()">view coupon</button>
        <button>submit</button>
      `
      if(type=='percentage'){
        container.innerHTML = p
      }
      else{
        container.innerHTML = f
      }
    }

    function generate_coupon(){
      let container = document.getElementById('coupon-container')
      let coupon = `
        <div class="circle-top"></div>
        <div class="coupon-discount">
          <div class="text">
            ลดเพิ่ม
          </div>
          <div class="discount">
            ${document.getElementById('discount').value.toString()} ${document.getElementById('input2').value == 'percentage' ? '%':'.-'}
          </div>
        </div>
        <div class="coupon-description">
          <div class="title">${document.getElementById('title').value}</div>
          <div class="description">${document.getElementById('description').value}</div>
          <div class="due-date">หมดอายุ : ${document.getElementById('due-date').value}</div>
        </div>
        <div class="coupon-button"></div>
        <div class="circle-bottom"></div>`
      container.innerHTML = coupon
    }

    function system_add_coupon(){
      let data = {'due_date' : document.getElementById('due-date').value,
      'minimum_price' : document.getElementById('minimum-price').value,
      'discount' : document.getElementById('discount').value,
      'max_discount' : document.getElementById('max-discount') ? document.getElementById('max-discount').value : 99999,
      'description' : document.getElementById('description').value,
      'title' : document.getElementById('title').value,
      'quantity' : document.getElementById('quantity').value,
      'ban_types' : ban_types_arr,
      'ban_products' : ban_products_arr,
      'type' : types_arr,
      'brand' : brands_arr,
      'coupon_type' : document.getElementById('coupon-type').value,
      'discount_type' : document.getElementById('input2').value,
      'email': email}
      console.log(data)
      fetch('http://127.0.0.1:8000/' + email + '/admin/add_system_coupon', {method: 'POST',
      body: JSON.stringify({'data': data}),
      headers: {'Content-Type': 'application/json'}
      }).then(response => response.json()).then(data => {alert(data)})
    }

    function edit_system_coupon(){
      let data = {
      'coupon_id': document.getElementById('id').value,
      'due_date' : document.getElementById('due-date').value,
      'minimum_price' : document.getElementById('minimum-price').value,
      'discount' : document.getElementById('discount').value,
      'max_discount' : document.getElementById('max-discount') ? document.getElementById('max-discount').value : 99999,
      'description' : document.getElementById('description').value,
      'title' : document.getElementById('title').value,
      'quantity' : document.getElementById('quantity').value,
      'ban_types' : ban_types_arr ? ban_types_arr : [],
      'ban_products' : ban_products_arr ? ban_products_arr : [],
      'type' : types_arr ? types_arr : [],
      'brand' : brands_arr ? brands_arr : [],
      'coupon_type' : document.getElementById('coupon-type').value,
      'discount_type' : document.getElementById('input2').value,
      'email': email}
      fetch('/edit-system-coupon', {method: 'POST',
      body: JSON.stringify({'data': data}),
      headers: {'Content-Type': 'application/json'}
      }).then(response => response.json()).then(data => {alert(data)})
    }


    function logout()
    {
      email = sessionStorage.getItem("username")
      fetch("http://127.0.0.1:8000/logout",
      {method: 'POST',
      body:JSON.stringify({'email': email}),
      headers :{'Content-Type': 'application/json'}
    }).then(response=>response.json()).then(data=>
      { 
      if (data.result == "success")
      {
        sessionStorage.removeItem("username")
        window.location.href='http://127.0.0.1:8000/login-page'
      }
      })
    }
  </script>
</body>
</html>