<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('styles', path='coupon.css?v=1') }}" >
  {% include "global_head.html" %}
</head>
<body>
  {% include "nav-bar.html" %}
  <div class="img-container">
    <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2022/08/brand%20page/Coupon_special/Coupon_LDP-01.jpg">
  </div>
  <div class="img-container">
    <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2022/08/brand%20page/Coupon_special/Coupon_LDP-05.jpg">
  </div>
  <div class="row-container">
    {% for coupon in coupons['exclusive'] %}
      <a href="/login-page">
        <div class="coupon-container" id="{{coupon.get_id()}}">
          <div class="circle-top"></div>
          <div class="coupon-discount">
            <div class="text">
              ลดเพิ่ม
            </div>
            <div class="discount">
              {{coupon.get_discount_str()}}
            </div>
          </div>
          <div class="coupon-description">
            <div class="title">{{coupon.get_title()}}</div>
            <div class="description">เมื่อซื้อครบ {{coupon.get_minimum_price_str()}}</div>
            <div class="due-date">หมดอายุ : {{coupon.get_due_date_str()}}</div>
          </div>
          <div class="coupon-button"></div>
          <div class="circle-bottom"></div>
          <div class="button"><div class="text">เก็บคูปอง</div></div>
        </div>
      </a>
    {% endfor %}
  </div>
  <div class="img-container">
    <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2022/11/coupon_special/Always-on%20-%20Coupon%20Special_7.jpg">
  </div>
  <div class="row-container">
    {% for coupon in coupons['speaker'] %}
    <a href="/login-page">
      <div class="coupon-container" id="{{coupon.get_id()}}">
        <div class="circle-top"></div>
        <div class="coupon-discount">
          <div class="text">
            ลดเพิ่ม
          </div>
          <div class="discount">
            {{coupon.get_discount_str()}}
          </div>
        </div>
        <div class="coupon-description">
          <div class="title">{{coupon.get_title()}}</div>
          <div class="description">เมื่อซื้อครบ {{coupon.get_minimum_price_str()}}</div>
          <div class="due-date">หมดอายุ : {{coupon.get_due_date_str()}}</div>
        </div>
        <div class="coupon-button"></div>
        <div class="circle-bottom"></div>
        <div class="button"><div class="text">เก็บคูปอง</div></div>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="img-container">
    <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2022/11/coupon_special/Always-on%20-%20Coupon%20Special_9.jpg">
  </div>
  <div class="row-container">
    {% for coupon in coupons['gaming'] %}
    <a href="/login-page">
      <div class="coupon-container" id="{{coupon.get_id()}}">
        <div class="circle-top"></div>
        <div class="coupon-discount">
          <div class="text">
            ลดเพิ่ม
          </div>
          <div class="discount">
            {{coupon.get_discount_str()}}
          </div>
        </div>
        <div class="coupon-description">
          <div class="title">{{coupon.get_title()}}</div>
          <div class="description">เมื่อซื้อครบ {{coupon.get_minimum_price_str()}}</div>
          <div class="due-date">หมดอายุ : {{coupon.get_due_date_str()}}</div>
        </div>
        <div class="coupon-button"></div>
        <div class="circle-bottom"></div>
        <div class="button"><div class="text">เก็บคูปอง</div></div>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="img-container">
    <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2022/11/coupon_special/Always-on%20-%20Coupon%20Special_11.jpg">
  </div>
  <div class="row-container">
    {% for coupon in coupons['computer'] %}
    <a href="/login-page">
      <div class="coupon-container" id="{{coupon.get_id()}}">
        <div class="circle-top"></div>
        <div class="coupon-discount">
          <div class="text">
            ลดเพิ่ม
          </div>
          <div class="discount">
            {{coupon.get_discount_str()}}
          </div>
        </div>
        <div class="coupon-description">
          <div class="title">{{coupon.get_title()}}</div>
          <div class="description">เมื่อซื้อครบ {{coupon.get_minimum_price_str()}}</div>
          <div class="due-date">หมดอายุ : {{coupon.get_due_date_str()}}</div>
        </div>
        <div class="coupon-button"></div>
        <div class="circle-bottom"></div>
        <div class="button"><div class="text">เก็บคูปอง</div></div>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="img-container">
    <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2022/11/coupon_special/Always-on%20-%20Coupon%20Special_13.jpg">
  </div>
  <div class="row-container">
    {% for coupon in coupons['table'] %}
    <a href="/login-page">
      <div class="coupon-container" id="{{coupon.get_id()}}">
        <div class="circle-top"></div>
        <div class="coupon-discount">
          <div class="text">
            ลดเพิ่ม
          </div>
          <div class="discount">
            {{coupon.get_discount_str()}}
          </div>
        </div>
        <div class="coupon-description">
          <div class="title">{{coupon.get_title()}}</div>
          <div class="description">เมื่อซื้อครบ {{coupon.get_minimum_price_str()}}</div>
          <div class="due-date">หมดอายุ : {{coupon.get_due_date_str()}}</div>
        </div>
        <div class="coupon-button"></div>
        <div class="circle-bottom"></div>
        <div class="button"><div class="text">เก็บคูปอง</div></div>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="img-container">
    <img src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2022/11/coupon_special/Always-on%20-%20Coupon%20Special_5.jpg">
  </div>
</body>
</html>