    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="https://www.mercular.com/icons/me.png" style="background-color: white;"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('styles', path='font.css') }}?v=1" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('styles', path='nav_bar.css') }}?v=1" >
    <BASE href="/">
    <title>Mercular</title>
    <style>
        .circle{
            width: 40px; 
            height: 40px; 
            border-radius: 50%; 
            background-color: rgb(15, 99, 233);
            text-align: center;
            line-height: 50%;
        }
        .login_button {
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            outline: 0px;
            border: 0px;
            margin: 0px;
            cursor: pointer;
            user-select: none;
            vertical-align: middle;
            appearance: none;
            text-decoration: none;
            font-family: NotoSans-Thai, sans-serif;
            font-size: 0.875rem;
            line-height: 1.75;
            padding: 6px 16px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            color: rgb(255, 255, 255);
            background-color: rgb(15, 99, 233);
            min-width: fit-content;
            text-transform: initial;
            box-shadow: unset;
            font-weight: bold;
            width: 90px;
            height: 30px;
            border-radius: 8px;
            margin: 5px;
        }
       </style>