<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('styles', path='index.css?v=1') }}" >
  <link rel="stylesheet" href="{{ url_for('styles', path='nav_bar.css?v=1') }}" >
</head>
<body>
  {% include "nav-bar.html" %}
  <a href="{{email}}/coupon-special">
    <div class="box">coupon-special</div>
  </a>
  <a href="{{email}}/monthly-promotion">
    <div class="box">monthly-promotion</div>
  </a>
</body>
</html>