<!DOCTYPE html>
<html lang="en">

<head>
  {% include "global_head.html" %}
  <link rel="stylesheet" href="{{ url_for('styles', path='grid.css?v=1') }}">
  
</head>

<body>
  {% include "nav-bar.html" %}
  {% for row in products %}
  <div class="row-container">
    {% for product in row %}
    <div class="item-container">
      <a href="/product/{{product.get_object_id()}}">
        <div class="product-img-container">
          <img src="{{product.get_image()[0]}}">
        </div>
        <div class="product-name">{{product.get_name()}}</div>
        <div class="price-container">
          {% if product.get_promotion() %}
                                <div class="product-discount">{{product.get_promotion().get_discount_str()}}</div>
                                {% else %}
                                <div class="product-discount"></div>
                                {% endif %}

                                {% if product.get_promotion() %}
                                <div class="price-promo-container">
                                    <div class="product-price">฿{{product.get_discounted_price()}}</div>
                                    <div class="old-product-price">฿{{product.get_price()}}</div>
                                </div>
                                {% else %}
                                <div class="product-price">฿{{product.get_price()}}</div>
                                {% endif %}
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</body>
</html>
