<!DOCTYPE html>
<html lang="en">

<head>
  {% include "global_head.html" %}
  <link rel="stylesheet" href="{{ url_for('styles', path='grid.css?v=1') }}">
  
</head>

<body>
  {% include "nav-bar.html" %}
  {% for row in products %}
  <div class="row-container">
    {% for product in row %}
    <div class="item-container">
      <a href="/product/{{product.get_object_id()}}">
        <div class="product-img-container">
          <img src="{{product.get_image()[0]}}">
        </div>
        <div class="product-name">{{product.get_name()}}</div>
        <div class="price-container">
          <div class="product-discount">{{product.get_promotion().get_discount_str()}}</div>
          <div class="product-price">{{product.get_price()}} .-</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</body>
</html>
