* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.price-contrainer {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(222, 221, 221);;
    margin: 10px 0px;
}

.price-contrainer .price-text {
    margin: 0;
}

#Total {
    margin: 10px 5px 0px 5px;
}
#Discounted {
    margin: 5px;
}

#order-conclusion {
    height: 10%;
    background-color:rgb(222, 221, 221);
    text-align: center;
}

.price-text hr{
    color: rgb(222, 221, 221);
}
.submit {
    background-color: rgb(15, 99, 233);
    border-radius: 10px;
    border-style: none;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    margin: 6px 5px;
    font-size: 16px;
    cursor: pointer;
}

.price-contrainer .submit {
    width: 95%;
}

body .address-contrainer {
    display: flex;
    height: 20%;
    
    margin: 10px;
}

.item .left-item-component img {
    width: 80px;
    height: 80px;
    margin: 0 10px
}

.user-coupon-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    height: 300px;
    width: 300px;
    
    border-radius: 2px;
    border: 2px solid black;
    
    position: relative;
    right: -50%;
    transform: translateX(-50%);
}

.coupon-container {
    display: none;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    width: 240px;
    height: 90px;
    margin: 2px 10px;
    overflow: hidden;
    border-radius: 7px;
    border: solid gray 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.coupon-discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    border-right: dashed gray 1px;
    color: rgb(199, 4, 4);
    right: -50%;
}

.coupon-discount .text {
    font-size: 16px;
}

.coupon-discount .discount {
    font-size: 20px;
}

.circle-top {
    position: absolute;
    left: 35%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: solid gray 1px;
    width: 10px;
    height: 10px;
    z-index: 2;
    background-color: white;
}

.circle-bottom {
    position: absolute;
    left: 35%;
    bottom: 0;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    border: solid gray 1px;
    width: 10px;
    height: 10px;
    z-index: 2;
    background-color: white;
}

.coupon-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin-left: 4px;
}

.coupon-description .title {
    font-size: 14px;
}

.coupon-description .description {
    font-size: 12px;
}

.coupon-description .due-date {
    font-size: 10px;
}

.coupon-container .button {
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
}

.coupon-container .button .text {
    position: absolute;
    font-size: 16px;
    border: solid blue 1px;
    background-color: blue;
    color: white;
    border-radius: 6px;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
    top: 50%;
    transform: translateY(-50%);

}