/*Eng font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

/*TH font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;600;700&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
  }
  button{
      position: relative;
      display: inline-flex;
      align-items:center;
      justify-content:right;
      box-sizing: border-box;
      border: 5px;
      cursor: pointer;
      background-color: #ffffff;
      border-color: black;
      color: rgb(168, 168, 168);
      font-size: 25px;
  }
*{
    margin: 0;
    padding: 0;}
    body {
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      
      }
      
    button[type = "bluebutton"]
        {
             position: absolute;
            display: flex;
            align-items:center;
            justify-content:right;
            position: relative;
            box-sizing: border-box;
            border: 5px;
            cursor: pointer;
            font-size: 14px;
            color: rgb(255, 255, 255);
            background-color: rgb(15, 99, 233);
            border-radius: 8px;
            font-weight: bold;
            height: 40px;
      }
      button:hover
      {
        color: rgb(50, 20, 203);
      }
    input[type ="whiteblock"] {
      color: currentcolor;
      border: 20px;
      border-radius: 5px;
      border-color: black;
      box-sizing: content-box;
      background: none;
      height: 10px;
      margin: 0px;
      -webkit-tap-highlight-color: transparent;
      display: block;
      width: 320px;
      animation-name: mui-auto-fill-cancel;
      animation-duration: 10ms;
      padding: 16.5px 14px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    .container {
      position: relative;
      display:flex;
      flex-direction: row;
      max-width: 800px;
      margin: 0 auto;
      padding: 40px;
      background-color: #ffffff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    }