/*Eng font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

/*TH font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;600;700&display=swap');

html {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}



body{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.row-container{
  margin: 20px 0;
  width: 80%;
  height: 408px;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
 
}


.item-container:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.item-container a{
  text-decoration: none;
  color: black;

}
.item-container{
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  width: 236px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 2%;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid #dadadab0;
  border-radius: 15px;
}

.product-img-container{
  height: 244.8px;
  border-radius: 15px;
}

.product-img-container img{
  width:100%;
  height: 100%;
  border-radius: 15px;
}

.product-name{
  width: 90%;
  margin: 10px;
  background-color: white;
  height: 20%;
}

.price-container{
  display: flex;
  flex-direction: row;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.19);
  
}

.product-discount{
  margin-left: 20px;
  width: 50%;
  height: 10%;
  color: red;
}

.price-promo-container{
  display: flex;
  width: 50%;
  margin-left: 20px;
  flex-direction: column;
}

.product-price{
  margin-right: 20px;
  text-align: right;
  width: 50%;
  height: 10%;
  background-color: white;
  font-weight: bold;
}

.old-product-price{
  margin-right: 20px;
  text-align: right;
  width: 50%;
  height: 10%;
  line-height: 10px;
  padding-top: 20px;
  text-decoration: line-through;
  font-size: small;
  padding-left: 10px;
  color: grey;
}
